
<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "programming.jpg" %>
  </div>

  <div id="content">
    <h1>About</h1>
    <p>Echo park slow-carb prism, forage occupy tumblr beard. Cred normcore fanny pack pug.
      Retro dreamcatcher wayfarers schlitz 8-bit, post-ironic seitan live-edge street art pabst
      ugh tattooed fingerstache. Mustache whatever narwhal, pitchfork cray lyft readymade. Tumblr
      jianbing VHS YOLO bicycle rights humblebrag. PBR&B +1 next level narwhal vaporware authentic.
      Chia narwhal fam crucifix, distillery fanny pack live-edge austin skateboard selvage.

      Church-key pork belly portland, hexagon schlitz retro jianbing raclette. Umami cray salvia,
      tbh fingerstache austin banjo XOXO flannel vegan fixie live-edge forage. Etsy authentic before
      they sold out banjo iPhone. Pinterest coloring book tofu, hoodie banjo vaporware asymmetrical
      readymade activated charcoal. Street art etsy truffaut, you probably haven't heard of them migas
      squid distillery hella poke organic ethical everyday carry. Banjo intelligentsia listicle
      mumblecore, actually mlkshk seitan. Crucifix kinfolk kogi lo-fi kitsch.</p>
  </div>

  <% if user_signed_in? %>
      | <%= link_to 'Edit', edit_page_path(@page) %>
  <% end %>
</div>