/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';

html, body {
  font-family: 'Raleway', sans-serif;
  background-color: #171717;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

#sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #222222;
  padding: 7em 0 0 0;
  border-right: 1px solid #878787;
  #logo {
    width: 40px;
    position: absolute;
    right: 3em;
    top: 3em;
  }
  ul {
    list-style: none;
    text-align: right;
    padding-right: 3em;
    .category {
      font-weight: 700;
      font-size: 0.7em;
      text-transform: uppercase;
      color: #8ed6b1;
    }
    li {
      padding: .5em 0;
      a {
        color: #e1e1e1;
        text-decoration: none;
        transition: all .4s ease;
        &:hover {
          color: #8ed6b1;
        }
      }
    }
    .active {
      a {
        color: #8ed6b1;
      }
    }
  }
  .sign_in {
    position: absolute;
    right: 3em;
    top: 80%;
    font-size: .8em;
    color: #838587;
  }
}

.button {
  outline: none;
  background: transparent;
  border: 1px solid #c3c3c3;
  padding: .5em 1.5em;
  border-radius: 1.5em;
  &:hover {
    border: 1px solid #8ed6b1;
    color: #8ed6b1;
    a {
      color: #8ed6b1 !important;
    }
  }
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#main_content {
  margin-left: 250px;
  #header {
    padding: 1em 3em;
    border-bottom: 1px solid #878787;
    background: #222222;
    color: #e1e1e1;
    p {
      display: inline;
    }
    a {
      color: #e1e1e1;
      text-decoration: none;
    }
    .buttons {
      float: right;
      margin-top: -6px;
      .button {
        font-size: .8em;
        margin-left: .5em;
      }
    }
  }
  .alert{
    color: #e1543e;
    margin-left: 3em;
    margin-top: 3em;
  }
  .post_wrapper {
    padding: 3em;
    border-bottom: 1px solid #878787;
    .title {
      margin: 0;
      a {
        font-weight: 500;
        text-decoration: none;
        color: #bbbbbb;
        font-size: 1.5em;
        &:hover {
          color: #8ed6b1;
        }
      }
    }
    .date_and_author {
      color: #9eafba;
      margin: .5em 0 0 0;
    }
    .body {
      color: #bbbbbb;
    }
    .date {
      color: #9eafba;
      font-size: 0.8em;
      line-height: 1.75;
    }
  }
  #post_content {
    padding: 1em 3em;
    .title {
      font-weight: 500;
      text-decoration: none;
      color: #afafaf;
      font-size: 2.5em;
      margin-bottom: 0;
    }
    .body {
      color: #bbbbbb;
      font-size: 1.1em;
      line-height: 1.75;
    }
    .image {
      width: auto;
      height: 250px;
    }
    .date_and_author {
      color: #9eafba;
      margin: .5em 0 2em 0;
    }
    .date {
      color: #9eafba;
      font-size: 0.8em;
      line-height: 1.75;
    }
    .count {
      color: #9eafba;
    }
    #comments {
      h2 {
        margin: 3em 0 1em 0;
        color: #bbbbbb;
        border-bottom: 1px solid #d6dce0;
        padding-bottom: 0.5em;
      }
      h3 {
        color: #bbbbbb;
        margin-top: 2em;
      }
      .comment {
        padding: 1.5em 2em;
        .clear_both {
          clear: both;
        }
        &:after {
          clear: both;
        }
        .comment_content {
          float: left;
          .comment_name {
            color: #bbbbbb;
            margin: 1em 0 0 0;
            font-size: 1.0em;
          }
          .comment_body {
            color: #bbbbbb;
            font-size: 1.2em;
            margin: 0.2em 0 0 0;
          }
          .comment_time {
            color: #9eafba;
            margin-top: 1.2em;
            font-size: .8em;
          }
        }
        .button {
          float: right;
          color: #9eafba;
        }
      }
      input[type="text"], textarea {
        width: 50%;
      }
    }
  }
  #login_links{
    color: #e1e1e1;
  }
  #page_wrapper {
    padding: 3em;
    #profile_image {
      width: 300px;
      float: left;
      margin-right: 2em;
      img {
        width: 100%;
        border-radius: 0.35em;
      }
    }
    #content {
      color: #e1e1e1;
      h1 {
        font-weight: 500;
      }
      p {
        font-size: 1.1em;
        line-height: 1.75;
      }
      a {
        color: #8ed6b1;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
  .links {
    margin: 2em 0;
  }
  input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 90%;
    border: 1px solid #868c90;
    border-radius: .35em;
    margin-top: 10px;
    padding: .5em 1em;
    line-height: 1.75;
    background-color: #b6bcc0;
  }
  label{
    color: #b6bcc0;
  }
  input[type="text"] {
    height: 35px;
  }
  textarea {
    min-height: 180px;
  }
  input[type="submit"] {
    outline: none;
    color: #b6bcc0;
    background: transparent;
    border: 1px solid #d6dce0;
    padding: .5em 1.5em;
    font-size: 1.1em;
    border-radius: 1.5em;
    margin-left: .5em;
    &:hover {
      border: 1px solid #8ed6b1;
      color: #d6dce0;
    }
  }
}